<!-- <script src="{{url_for('static', filename='mainPage.js')}}"></script> -->
{% extends 'base.html' %}



  {% block content %}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='leaderboard.css') }}" />

  <div id="table_container">


<br><br>
<br><br>
<table id="table">
    <thead> 
    <tr> 
        <th>RANK</th> 
        <th>Name</th> 
        <th>REGION</th>
        <th id="col">BEST LEGEND</th>
    </tr> 
    </thead> 
    <tbody id="table-body">

    </tbody>
</table>
<button id="prev">prev</button>
<button id="next">next</button>
<br>
<label for="legend_check">legends</label>
<input type="checkbox" id="legend_check" onclick="checkboxes()">
<div>page:<span id="current-page"></span>/<span id="total-pages"></span></div>

</div>
<style>

</style>
<script>
  const data={{ test|tojson }};
  const maxRecords = 20;
 


  const currentPageRef = document.getElementById("current-page");
  const totalPagesRef = document.getElementById("total-pages");
  var legendHead=document.getElementById("col");
  let currentPage = 0;
  
  const totalPages = Math.ceil(data.length / maxRecords);

  currentPageRef.innerHTML = currentPage+1;
  totalPagesRef.innerHTML = totalPages;

  const nextRef = document.getElementById("next")
  const prevRef = document.getElementById("prev")
function checkboxes() {
var legend_col=document.getElementsByClassName("legend_data");
var legend = document.getElementById("legend_check");
// Get the output text
// var text = document.getElementById("col");
for(var i=0;i<legend_col.length;i++)
{
if (legend.checked == true){
  col.style.display="block";
legend_col[i].style.display="block";
} else {
legend_col[i].style.display="none";
col.style.display="none";
}
}

}

  function updateCurrentPage(value) {
      return () => {
          currentPage = (currentPage + value) % totalPages;
          currentPageRef.innerHTML = currentPage+1;
          if(currentPage<=0){
            currentPageRef.innerHTML = 1;
            currentPage=0;
          }
          

          renderTable();
      }
  }

  nextRef.addEventListener("click", updateCurrentPage(1))
  prevRef.addEventListener("click", updateCurrentPage(-1))

  const tableBody = document.getElementById("table-body");

  function renderTable() {

      while(tableBody.firstChild){
          tableBody.removeChild(tableBody.firstChild)
      }
      
      data.slice(currentPage*maxRecords, (currentPage+1)*maxRecords).forEach(record => {
          const tr = document.createElement("tr");
          tr.innerHTML = `
          <td>${record[0]}</td>
          <td>${record[1]}</td>
          <td>${record[2]}</td>
          <td class="legend_data">${record[3]}</td>
          `
          tableBody.appendChild(tr);
      })
      checkboxes();
     
  }
  renderTable();

</script>

{% endblock %}

